*.o
snp_sites
tests/run_all_tests
src/run_all_tests*
src/test-suite.log
Makefile
.DS_Store
src/Makefile
src/.deps
autom4te.cache/*
*.lo
*~
src/.libs/*
src/libsnp_sites.la
Makefile.in
aclocal.m4
config.*
configure
depcomp
graph
install-sh
libtool
ltmain.sh
missing
src/Makefile.in
stamp-h1
test-driver
